:root {
  --dark-bg-color: #151515;
  --light-bg-color: #faf9f9;
  --dark-font: #151515;
  --light-font: #faf9f9;
  --dark: #151515;
  --mid-grey: #303030;
  --dark-teal: #368f8b;
  --teal: #2a9d8f;
  --light-teal: #83c5be;
  --turquoise: #56d9cd;
  --pink: #f2385a;
  --orange: #f4a261;
  --white: #faf9f9;
  --section-font: 2.5rem;
  --large-font: 1.5rem;
  --regular-font: 1.2rem;
  --large-size: 1.5rem;
  --regular-size: 1rem;
  --small-size: 0.5rem;
}

/*  GENERAL  */
body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
}

.dark-bg {
  background-color: var(--dark-bg-color);
  color: var(--light-font);
}

.light-bg {
  background-color: var(--light-bg-color);
  color: var(--dark-font);
}

.light-font {
  color: var(--light-font);
}

.section-font {
  font-size: var(--section-font);
  font-weight: bold;
  padding: 0.5rem;
}

.subheading-font {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.description-font {
  font-size: 1rem;
}

.text-shadow {
  text-shadow: 2.5px 2.5px 1px var(--mid-grey);
}

a {
  color: inherit;
  text-decoration: none;
}

.section-container {
  display: grid;
  place-items: center;
  text-align: center;
  padding: 30px 0;
}

.headline-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  width: 50vw;
}


/* HEADER */
header {
  height: 90vh;
  background-color: var(--dark);
  color: var(--light-font);
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 80%;
}

.header-font {
  font-size: 2.5rem;
  font-weight: bold;
}

.subheader-font {
  font-size: 2rem;
}

.avatar {
  padding: var(--large-size);
}
.avatar img{
  border-radius: 50%;
}

.svg {
  height: 20%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.wavies > use {
  animation: waveAround 12s linear infinite;
}
.wavies > use:nth-child(1) {
  animation-delay: 2s;
}
.wavies > use:nth-child(2) {
  animation-delay: 2s;
  animation-duration: 6s;
}
.wavies > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 4s;
}
@keyframes waveAround {
  0% {
    transform: translate(-90px, 0%);
 }
  100% {
    transform: translate(85px, 0%);
 }
}

.icons-container {
  display: flex;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 2.5rem;
  border: 0.5px solid var(--white);
  border-radius: 50%;
  margin: 0.5rem;
  padding: 0.5rem;
  transition: all 0.3s ease 0s;
}

.icon:hover {
  border: 0.5px solid var(--teal);
  background-color: var(--teal);
}

/*  PROJECT  */
.grids-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
}
.grids-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid-card {
  display: grid;
  margin: 1rem;
  color: var(--smoke);
  border-radius: 1%;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.grid-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  cursor: pointer;
}

.project {
  width: 100%;
}

.project .title {
  font-size: var(--large-font);
  padding: var(--regular-size);
  font-weight: bold;
  background-color: var(--teal);
  color: var(--light-font);
  text-shadow: 2.5px 2.5px 1px var(--mid-grey);
}

.project .img {
  display: grid;
  place-items: center;
}

.project .img img {
  display: grid;
  place-items: center;
  width: 100%;
  height: auto;
}

.project .stacks {
  display: grid;
  width: 100%;
}

.project .stack {
  padding: var(--small-size);
}

.project .description {
  padding: var(--large-size); 
}

/* TECHSTACKS */
.tech-icon-grid {
  padding: var(--large-size);
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.tech-icon-container {
  display: flex;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
}

.tech-icon-wrapper {
  display: grid;
  place-items: center;
  width:90px;
}

.tech-icon {
  display: flex;
  padding: var(--regular-size);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: var(--white);
}

.tech-icon img {
  width: 100%;
}

.tech-name {
  font-size: var(--regular-size);
  color: var(--dark-font);
  padding: var(--small-size);
  font-weight: bold;
}



/* SECTION LAYOUT  */ 
.section-bubble, .section-bubble1, .section-bubble2, .section-bubble3, .section-bubble4, .section-bubble_type-a, .section-bubble_type-b {
  margin-bottom: calc(100vw / 5);
  position: relative;
}
.section-bubble:after, .section-bubble1:after, .section-bubble2:after, .section-bubble3:after, .section-bubble4:after, .section-bubble_type-a:after, .section-bubble_type-b:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: calc(100vw / 5);
  background-size: 100%;
  transform: translate(0, 100%);
}

.section-bubble1 {
  background-color: var(--white);
}
.section-bubble1:after {
  background-color: var(--light-teal);
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%23faf9f9' viewBox='0 0 1185 250'><circle cx='76' cy='121.1' r='20' class='a'/><circle cx='870' cy='201.1' r='11' class='a'/><circle cx='814.5' cy='165.6' r='24.5' class='a'/><path d='M0 0v17.7c22.7 14.8 53 31.9 90.7 51.5 150.8 78 322 116.6 424.8 69.3 102.9-47.4 138-69.3 210.8-69.3s118.3 48.6 219.5 38.3 76.3-59.3 188.7-59.3c18.9 0 35.5 2.6 50.5 6.8V0H0z' class='a'/></svg>");
}

.section-bubble2 {
  background-color: var(--light-teal);
}
.section-bubble2:after {
  background-color: var(--mid-grey);
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1185 250'><path d='M50.5 199.8c112.4 0 87.5-49 188.7-59.3s146.7 38.3 219.5 38.3 107.9-21.9 210.8-69.3c102.8-47.3 274-8.7 424.8 69.3 37.7 19.5 68 36.7 90.7 51.5V0H0v193C15 197.2 31.6 199.8 50.5 199.8zM1109 106.9c11 0 20 9 20 20 0 11-9 20-20 20s-20-9-20-20C1089 115.9 1098 106.9 1109 106.9zM370.5 57.9c13.5 0 24.5 11 24.5 24.5 0 13.5-11 24.5-24.5 24.5S346 95.9 346 82.4C346 68.9 357 57.9 370.5 57.9zM315 35.9c6.1 0 11 4.9 11 11s-4.9 11-11 11 -11-4.9-11-11S308.9 35.9 315 35.9z' fill='%2383c5be'/></svg>");
}

.section-bubble3 {
  background-color: var(--mid-grey);
}
.section-bubble3:after {
  background-color: var(--white);
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%23303030' viewBox='0 0 1185 250'><circle cx='76' cy='121.1' r='20' class='a'/><circle cx='870' cy='201.1' r='11' class='a'/><circle cx='814.5' cy='165.6' r='24.5' class='a'/><path d='M0 0v17.7c22.7 14.8 53 31.9 90.7 51.5 150.8 78 322 116.6 424.8 69.3 102.9-47.4 138-69.3 210.8-69.3s118.3 48.6 219.5 38.3 76.3-59.3 188.7-59.3c18.9 0 35.5 2.6 50.5 6.8V0H0z' class='a'/></svg>");
}

.section-bubble4 {
  background-color: var(--white);
}
.section-bubble4:after {
  background-color: var(--dark);
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1185 250'><path d='M50.5 199.8c112.4 0 87.5-49 188.7-59.3s146.7 38.3 219.5 38.3 107.9-21.9 210.8-69.3c102.8-47.3 274-8.7 424.8 69.3 37.7 19.5 68 36.7 90.7 51.5V0H0v193C15 197.2 31.6 199.8 50.5 199.8zM1109 106.9c11 0 20 9 20 20 0 11-9 20-20 20s-20-9-20-20C1089 115.9 1098 106.9 1109 106.9zM370.5 57.9c13.5 0 24.5 11 24.5 24.5 0 13.5-11 24.5-24.5 24.5S346 95.9 346 82.4C346 68.9 357 57.9 370.5 57.9zM315 35.9c6.1 0 11 4.9 11 11s-4.9 11-11 11 -11-4.9-11-11S308.9 35.9 315 35.9z' fill='%23faf9f9'/></svg>");
}

.section-bubble5 {
  background: var(--dark);
  color: var(--white);
  text-align: center;
}

.section-bubble_type-a:after {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 1185 250'><circle cx='76' cy='121.1' r='20' class='a'/><circle cx='870' cy='201.1' r='11' class='a'/><circle cx='814.5' cy='165.6' r='24.5' class='a'/><path d='M0 0v17.7c22.7 14.8 53 31.9 90.7 51.5 150.8 78 322 116.6 424.8 69.3 102.9-47.4 138-69.3 210.8-69.3s118.3 48.6 219.5 38.3 76.3-59.3 188.7-59.3c18.9 0 35.5 2.6 50.5 6.8V0H0z' class='a'/></svg>");
}

.section-bubble_type-b:after {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1185 250'><path d='M50.5 199.8c112.4 0 87.5-49 188.7-59.3s146.7 38.3 219.5 38.3 107.9-21.9 210.8-69.3c102.8-47.3 274-8.7 424.8 69.3 37.7 19.5 68 36.7 90.7 51.5V0H0v193C15 197.2 31.6 199.8 50.5 199.8zM1109 106.9c11 0 20 9 20 20 0 11-9 20-20 20s-20-9-20-20C1089 115.9 1098 106.9 1109 106.9zM370.5 57.9c13.5 0 24.5 11 24.5 24.5 0 13.5-11 24.5-24.5 24.5S346 95.9 346 82.4C346 68.9 357 57.9 370.5 57.9zM315 35.9c6.1 0 11 4.9 11 11s-4.9 11-11 11 -11-4.9-11-11S308.9 35.9 315 35.9z' fill='red'/></svg>");
}


/*  COFFEE SVG  */
.coffee-container {
  height: 300px;
}

#coffee-wrap {
  width: 800px;
  height: 350px;
  position: absolute;
  top: 70%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.mug,
.machine,
.floor {
  position: absolute;
}

.mug {
  width: 72px;
  height: 77px;
  bottom: 6px;
  z-index: 4;
}

.mug1 {
  opacity: 1;
  right: 100px;
  animation: new-mug 3.5s ease infinite;
}

.mug2 {
  opacity: 1;
  right: 220px;
  animation: jump-to-machine 3.5s linear infinite;
}

.mug3 {
  right: 377px;
  bottom: 46px;
  animation: filled-out 3.5s ease infinite;
}

.mug4{
  right: 540px;
  animation: go-out 3.5s ease infinite;
}

.svg-mug {
  width: 100%;
  height: 100%;
}

.mug .cream {
  animation: mug-fill-cream 3.5s ease infinite;
}

.mug .coffee {
  animation: mug-fill-coffee 3.5s ease infinite;
}

.machine {
  width: 173px;
  height: 285px;
  bottom: 6px;
  left: 300px;
  z-index: 2;
  transform: scale(1);
  transform-origin: bottom center;
  animation: machine-coffee 3.5s ease infinite;
}

#hot-coffee-wrap {
  position: absolute;
  bottom: 56px;
  right: 408px;
  height: 100px;
  width: 20px;
  overflow: hidden;
  z-index: 2;
  animation: hot-coffee-wrap 3.5s ease infinite;
}

.last-drop {
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  bottom: 30px;
  left: 8px;
  border-radius: 50%;
  background: #AB4D37;
  animation: last-drop 3.5s ease infinite;
}

#hot-coffee-down {
  transform: translateY(0);
  animation: hot-coffee-down 3.5s ease infinite;
}

.olhos {
  animation: olhos 3.5s ease infinite;
}

#boca-encher {
  animation: boca-encher 3.5s ease infinite;
}

#boca-sopro {
  opacity: 0;
  animation: boca-sopro 3.5s ease infinite;
}

#boca-pronto {
  opacity: 0;
  animation: boca-pronto 3.5s ease infinite;
}

.svg-machine {
  width: 100%;
  height: 100%;
}

.stars {
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 20%;
  background: #F9D67D;
  opacity: 0;
  bottom: 0;
  left: 0;
}

.star1 {
  opacity: 0;
  transform: translate(500px, -120px) scale(0.2);
  animation: star1 3.5s ease infinite;
}

.star2 {
  opacity: 0;
  transform: translate(280px, -170px) scale(0.2);
  animation: star2 3.5s ease infinite;
}

.star3 {
  opacity: 0;
  transform: translate(500px, -250px) scale(0.2);
  animation: star3 3.5s ease infinite;
}



/* Floor */
.floor {
  width: 400px;
  height: 10px;
  bottom: 6px;
  left: 190px;
  z-index: 0;
}

.svg-floor {
  width: 100%;
  height: 100%;
}

/* MUG 1 */

@keyframes new-mug {
  0% {
      opacity: 1;
      right: 220px;
  }

  21.25% {
      opacity: 1;
      right: 220px;
  }
  21.30% {
      opacity: 0;
      right: 100px;
  }
  31.25% {
      opacity: 0;
      right: 100px;
  }

  34% {
      opacity: 1;
  }

  37.5% {
      right: 220px;
  }
  100% {
      opacity: 1;
      right: 220px;
  }

}


/* MUG 2 */

@keyframes jump-to-machine {
  
  0% {
      opacity: 0;
  }

  21.2% {
      opacity: 0;
  }

  21.25% {
      opacity: 1;
      bottom: 6px;
      right: 220px;
  }
  
  39.95% {
      opacity: 1;
      bottom: 46px;
      right: 377px;
  }
  40% {
      opacity: 0;
      bottom: 6px;
      right: 220px;
  }

}

/* MUG 3 */

@keyframes mug-fill-coffee {
  0% {
      y: 30;
      height: 47px;
      opacity: 1;
  }

  30% {
      y: 30;
      height: 47px;
      opacity: 1;
  }
  30.1% {
      opacity: 0;
      y: 70;
      height: 0px;
  }
  40.9% {
      opacity: 0;
  }
  41% {
      opacity: 1;
      y: 70;
      height: 0px;
  }

  80% {
      y: 30;
      height: 47px;
      opacity: 1;
  }

  100% {
      y: 30;
      height: 47px;
      opacity: 1;
  }
}

@keyframes mug-fill-cream {
  0% {
      y: 20;
      height: 10px;
      opacity: 1;
  }

  30% {
      y: 20;
      height: 10px;
      opacity: 1;
  }
  30.1% {
      y: 70;
      height: 0px;
      opacity: 1;
  }
  41% {
      y: 70;
      height: 0px;
      opacity: 1;
  }

  80% {
      y: 20;
      height: 10px;
      opacity: 1;
  }

  100% {
      y: 20;
      height: 10px;
      opacity: 1;
  }


}

@keyframes filled-out {
  0% {
      opacity: 1;
  }
  10% {
      bottom: 46px;
      right: 377px;
      opacity: 1;
  }
  30% {
      bottom: 6px;
      right: 540px;
      opacity: 1;
  }
  30.1% {
      opacity: 0;
  }
  39.9% {
      opacity: 0;
      bottom: 46px;
      right: 377px;
  }
  40% { opacity: 1; }
  100% { opacity: 1; }

}


/* MUG 4 */

@keyframes go-out {
  0% {
      opacity: 1;
  }
  7% {
      bottom: 6px;
      right: 540px;
      opacity: 1;
  }
  13% {
      bottom: 6px;
      right: 620px;
      opacity: 0;
  }
  30%  { opacity: 0; right: 540px; }
  30.1%  { opacity: 1 }
  100% { opacity: 1}
}

/* Coffee */


@keyframes hot-coffee-wrap {
  0% {
     
      
  }
  39% {

  }
  40% {
      height: 105px;
  }

  70% {
      height: 84px;
      
  }

  71% {

     
  }
}

@keyframes hot-coffee-down {
  0% {
      opacity: 0;
      transform: translateY(0);
  }
  39% {
       opacity: 0;
  }
  40% {
      opacity: 1;
      transform: translateY(0);
  }

  70% {
       opacity: 1;
      transform: translateY(600px);
  }

  71% {
      opacity: 0;
      transform: translateY(0);
  }
}

@keyframes last-drop {
  0% {
      opacity: 0;
  }

  64% {
      opacity: 0;
      transform: translateY(0);
  }

  66% {
      opacity: 1;
  }

  71% {
      opacity: 1;
      transform: translateY(-40px);
  }
  
  76% {
      opacity: 1;
      transform: translateY(0px);
  }

  77% {
      opacity: 0;
  }
  100% {
     opacity: 0;
  }

}



/* Machine */

@keyframes machine-coffee {
  0% {
      
  }

  25% {
      /*width: 165px;
      height: 300px;
      margin-left: 0;*/
      transform: scale(0.95, 1.07);
  }

  40% {
     /*width: 165px;
      height: 300px;
      margin-left: 0;*/
      transform: scale(0.95, 1.07);
  }


  75% {
      /*width: 183px;
      height: 265px;*/
      transform: scale(1.05, 0.92);
  }

  100% {
      
  }
}

@keyframes olhos {
  3.75% {
      /* cy: 78.666; */
      opacity: 1;
  }
  3.80% { opacity: 0; }
  6% { opacity: 0; }
  6.1% { opacity: 1; }

  10% {
      /*cy: 74.666;*/
  }

  25% {
      
  }

  40% {
      /*cy: 74.666;*/
  }
  71% {
      /*cy: 83.666;*/
  }

  89% {
      /*opacity: 1;*/
  }
  90% {
      /*opacity: 0;*/
  }

  93% {
      /*opacity: 0;*/
  }
  94% {
      /*opacity: 1;*/
  }

  100% {
      
  }
}

@keyframes boca-encher {
  0% {
      opacity: 1;
      r: 2.666;
  }

  30% {
      r: 14;
      opacity: 1;
  }

  38% {
      r: 14;
      opacity: 1;
  }
  39% {
      opacity: 0;
  }

  25% {
      
  }

  40% {
      
  }


  75% {
      
  }

  100% {
       opacity: 0;
  }
}

@keyframes boca-sopro {
  0% {
      opacity: 0;
  }

  38% {
      opacity: 0;
  }
  39% {
      opacity: 1;
      transform: translateY(0);
  }

  74% {
      opacity: 1;
      transform: translateY(12px);
  }
  75% {
      opacity: 0;
  }
}

@keyframes boca-pronto {
  0% { opacity: 0; }
  74% { opacity: 0; }
  75% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes star1 {
  0% { opacity: 0; }
  28% { opacity: 0; }
  30% {
      opacity: 1;
      transform: translate(500px, -120px) scale(0.2) rotate(-45deg);
  }
  40% {
      opacity: 1;
      transform: translate(500px, -120px) scale(1) rotate(-45deg);
  }
  50% {
      transform: translate(500px, -120px) scale(0.2) rotate(-45deg); 
      opacity: 1;
  }
  51% { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes star2 {
  0% { opacity: 0; }
  43% { opacity: 0; }
  45% {
      opacity: 1;
      transform: translate(280px, -170px) scale(0.2) rotate(-45deg);
  }
  55% {
      opacity: 1;
      transform: translate(280px, -170px) scale(1) rotate(-45deg);
  }
  65% {
      transform: translate(280px, -170px) scale(0.2) rotate(-45deg);
      opacity: 1;
  }
  66% { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes star3 {
  0% { opacity: 0; }
  53% { opacity: 0; }
  55% {
      opacity: 1;
      transform: translate(500px, -210px) scale(0.2) rotate(-45deg);
  } 
  65% {
      opacity: 1;
      transform: translate(500px, -210px) scale(1) rotate(-45deg);
  }
  75% {
      transform: translate(500px, -210px) scale(0.2) rotate(-45deg);
      opacity: 1;
  }
  76% { opacity: 0; }
  100% { opacity: 0; }
}


@media only screen and (max-width: 1280px) {
  .App {
    overflow-x: hidden;
  }
  .section-bubble:after, .section-bubble1:after, .section-bubble2:after,  .section-bubble3:after, .section-bubble_type-a:after, .section-bubble_type-b:after {
    height: 21.vw;
  }
}


@media only screen and (max-width: 780px) {
  .headline-container {
    width: 80vw;
  }
  .avatar {
    padding: var(--small-size);
  }
  .avatar img{
    width: 70%;
  }
  .subheading-font {
    font: var(--regular-size);
  }
  .icon {
    height: 2rem;
    width: 2rem;
  }
  .tech-icon-grid {
    grid-template-columns: 1fr;
  }
  #coffee-wrap {
    top: 70%;
    left: 55%;
  }
  .section-bubble:after, .section-bubble1:after, .section-bubble2:after,.section-bubble_type-a:after, .section-bubble_type-b:after {
    height: 22vw;
  }
  .section-bubble3:after {
    height: 22.4vw;
  }
}

@media only screen and (max-width: 500px) {
  header {
    height: 70vh;
  }
  .header-font {
    font-size: var(--large-font);
  }
  .subheader-font {
    font-size: var(--large-font);
  }  
  .tech-icon-grid {
    grid-template-columns: 300px;
  }
  .tech-icon {
    padding: var(--small-size);
    height: 25px;
    width: 25px;
  }
  .tech-name {
    font-size: 0.8rem;
  }
  .section-font {
    font-size: var(--large-font);
  }
}

@media only screen and (max-width: 400px) {
  .section-bubble:after, .section-bubble1:after, .section-bubble2:after,  .section-bubble_type-a:after, .section-bubble_type-b:after {
    height: 21.4vw;
  }
  .section-bubble3:after {
    height: 21.4vw;
  }
}