:root {
  --dark-bg-color: #151515;
  --light-bg-color: #faf9f9;
  --dark-font: #151515;
  --light-font: #faf9f9;
  --dark: #151515;
  --mid-grey: #303030;
  --dark-teal: #368f8b;
  --teal: #2a9d8f;
  --light-teal: #83c5be;
  --turquoise: #56d9cd;
  --pink: #f2385a;
  --orange: #f4a261;
  --white: #faf9f9;
  --section-font: 2.5rem;
  --large-font: 1.5rem;
  --regular-font: 1.2rem;
  --large-size: 1.5rem;
  --regular-size: 1rem;
  --small-size: 0.5rem;
}

/*  GENERAL  */
body {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
}

.dark-bg {
  background-color: var(--dark-bg-color);
  color: var(--light-font);
}

.light-bg {
  background-color: var(--light-bg-color);
  color: var(--dark-font);
}

.light-font {
  color: var(--light-font);
}

.teal-font {
  color: var(--light-teal);
}

.section-font {
  font-size: var(--section-font);
  font-weight: bold;
  padding: 0.5rem;
}

.subheading-font {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.description-font {
  font-size: 1rem;
}

.text-shadow {
  text-shadow: 2.5px 2.5px 1px var(--mid-grey);
}

a {
  color: inherit;
  text-decoration: none;
}

.section-container {
  display: grid;
  place-items: center;
  text-align: center;
  padding: 30px 0;
}

.headline-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  width: 50vw;
}

.link {
  color: var(--teal);
  font-weight: bold;
}

.link:hover {
  color: var(--orange);
}

/* HEADER */
header {
  height: 90vh;
  background-color: var(--dark);
  color: var(--light-font);
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 80%;
}

.header-font {
  font-size: 2.5rem;
  font-weight: bold;
  padding: var(--small-size);
  color: var(--light-teal);
}

.subheader-font {
  font-size: 1.5rem;
  padding: var(--small-size);
}

.avatar {
  padding: var(--large-size);
}

.avatar img {
  border-radius: 50%;
  width: 250px;
}

.svg {
  height: 20%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.icons-container {
  display: flex;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 2.5rem;
  border: 0.5px solid var(--white);
  border-radius: 50%;
  margin: 0.5rem;
  padding: 0.5rem;
  transition: all 0.3s ease 0s;
}

.icon:hover {
  border: 0.5px solid var(--teal);
  background-color: var(--teal);
}

/*  PROJECT  */
.grids-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grids-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.grid-card {
  display: grid;
  margin: 1rem;
  color: var(--smoke);
  border-radius: 1%;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.grid-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  cursor: pointer;
}

.project {
  width: 100%;
}

.project .title {
  font-size: var(--large-font);
  padding: var(--regular-size);
  font-weight: bold;
  background-color: var(--teal);
  color: var(--light-font);
  text-shadow: 2.5px 2.5px 1px var(--mid-grey);
}

.project .img {
  display: grid;
  place-items: center;
}

.project .img img {
  display: grid;
  place-items: center;
  width: 100%;
  height: auto;
}

.project .stacks {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: var(--small-size) 0;
}

.project .stack {
  padding: var(--small-size);
  margin: var(--small-size);
  background-color: var(--mid-grey);
  color: var(--white);
  border-radius: 4px;
}

.project .description {
  padding: var(--large-size);
}

/* TECHSTACKS */
.tech-icon-grid {
  padding: var(--large-size);
  display: grid;
  grid-template-columns: repeat(3, 500px);
}

.tech-icon-container {
  display: flex;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
}

.tech-icon-wrapper {
  display: grid;
  place-items: center;
  width: 90px;
}

.tech-icon {
  display: flex;
  padding: var(--regular-size);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: var(--white);
}

.tech-icon img {
  width: 100%;
}

.tech-name {
  font-size: var(--regular-size);
  color: var(--dark-font);
  padding: var(--small-size);
  font-weight: bold;
}

/* EXPERTISE SECTION*/
.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin: 40px 0;
  text-align: left;
}

.skills-container {
  display: grid;
  grid-template-rows: 1.5fr 4fr;
  grid-gap: 15px;
}

.title-wrapper {
  display: flex;
  border-bottom: 1px solid var(--light-teal);
  padding: var(--small-size) 0; 
}

.title-wrapper svg{
  padding: var(--small-size) 0;
}

.skill-title {
  display: flex;
  align-items: center;
  font-size: var(--regular-font);
  text-transform: uppercase;
  font-weight: bold;
  padding: var(--small-size);
  margin-left: 5px;

}

.skills {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.skill ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 20px;
}

.skill li ::marker{
  color: var(--light-teal);
}

/* ABOUT */
.profile-pic {
  padding: var(--large-size);
}

.profile-pic img {
  width: 250px;
  border-radius: 50%;
}

@media only screen and (max-width: 1280px) {
  .App {
    overflow-x: hidden;
  }
  .headline-container {
    width: 80vw;
  }
  .tech-icon-grid {
    grid-template-columns: 1fr;
  }
  .section-bubble:after,
  .section-bubble1:after,
  .section-bubble2:after,
  .section-bubble3:after,
  .section-bubble_type-a:after,
  .section-bubble_type-b:after {
    height: 21vw;
  }
}

@media only screen and (max-width: 780px) {
  .avatar {
    padding: var(--small-size);
  }
  .avatar img {
    width: 70%;
  }
  .subheading-font {
    font: var(--regular-size);
  }
  .icon {
    height: 2rem;
    width: 2rem;
  }
  .tech-icon-grid {
    grid-template-columns: 1fr;
  }
  .skills-grid {
    grid-template-columns: 1fr;
  }
  #coffee-wrap {
    top: 70%;
    left: 55%;
  }
  .section-bubble:after,
  .section-bubble1:after,
  .section-bubble2:after,
  .section-bubble_type-a:after,
  .section-bubble_type-b:after {
    height: 22vw;
  }
  .section-bubble3:after {
    height: 22.4vw;
  }
}

@media only screen and (max-width: 500px) {
  header {
    height: 70vh;
  }
  .header-font {
    font-size: 2rem;
  }
  .subheader-font {
    font-size: 1.3rem;
  }
  .avatar img {
    width: 50%;
  }
  .tech-icon-grid {
    grid-template-columns: 300px;
  }
  .tech-icon {
    padding: var(--small-size);
    height: 25px;
    width: 25px;
  }
  .tech-name {
    font-size: 0.8rem;
  }
  .section-font {
    font-size: var(--large-font);
  }
}

@media only screen and (max-width: 400px) {
  .section-bubble:after,
  .section-bubble1:after,
  .section-bubble2:after,
  .section-bubble_type-a:after,
  .section-bubble_type-b:after {
    height: 21.4vw;
  }
  .section-bubble3:after {
    height: 21.4vw;
  }
}
